/*-------------------For FAQ Accordion----------------------------------------*/
.transition, li i:before, li i:after {
  transition: all 0.25s ease-in-out;
}

.no-select, h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2:hover .header-link, h3:hover .header-link, h4:hover .header-link, h5:hover .header-link, h6:hover .header-link {
    opacity: 0;
}

.answer * {
  z-index: 2;
  position: relative;
}

ul.faq {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

ul.faq>li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  border-top: 1px dotted #dce7eb;
}

ul.faq li:last-of-type {
  padding-bottom: 0;
}

ul.faq li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}

ul.faq li i:before, ul.faq li i:after {
  content: "";
  position: absolute;
  background-color: grey;
  width: 3px;
  height: 9px;
}

ul.faq li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

ul.faq li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

ul.faq li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

ul.faq li input[type=checkbox]:checked ~ .answer,
ul.faq li input[type=checkbox]:checked ~ .answer *{
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
  padding: 0;
  margin: 0;
}

ul.faq li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}

ul.faq li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}
