<div class="container content footer">
    <a href="/FAQ">FAQ</a> |
    <a href="/">Home</a> |
    <a target="_blank"
        href="https://ethereum.stackexchange.com/questions/tagged/openethereum?sort=votes&pageSize=50">Stack
        Exchange <i class="fa fa-external-link"></i></a> |
    <a target="_blank" href="https://github.com/openethereum/openethereum">GitHub Repository <i
            class="fa fa-external-link"></i></a> |
    <a target="_blank" href="https://discord.io/openethereum">Discord Chat <i class="fa fa-external-link"></i></a> |
    <a target="_blank" href="https://openethereum.org">OpenEthereum Website <i class="fa fa-external-link"></i></a>
</div>