<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body class="sidebar-overlay">

  {% include sidebar.html %}

  <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
  <div class="wrap">
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>{{ site.description }}</small>
        </h3>
      </div>
    </div>

    <div class="container content">
      <div id="tipue_search_content"></div>
      {{ content }} {% if page.hide_footer %} {% else %} {% include Footer.html %} {% endif %}
    </div>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  <script>
    $(document).ready(function () {
      // Open the sidebar on load on bigger screens
      if ($(window).width() > 1540) {
        $('#sidebar-checkbox').prop('checked', true)
      }
      // Hook up search
      $('#tipue_search_input').tipuesearch({ 'show': 99 });
    });
  </script>
</body>

</html>
